body 
{
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bolder;
    font-size: 1rem;
}
.home 
{
    height: 100vh;
    background-color: #1abc9c;
   
}
.navbar li 
{
    padding: 10px
}
.content 
{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.content img 
{
    width: 20%;
}
.content h1 
{
    font-size: 70px;
    font-weight: bolder;
    color: #fff;
    padding: 10px;
}
.content h6
{
    font-size: 30px;
    color: #fff;
    padding: 20px;
}
#PORTFOLIO
{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
#PORTFOLIO h1 
{
    color: #2c3e50;
    font-weight: inherit;
    margin-bottom: 20px;
}
#about 
{
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 50vh;
    background-color:#1abc9c ;
}
#about h1
{
    font-size: 5rem;
    font-weight: bolder;
}
#contact
{
    margin-top: 5rem;
    margin-bottom: 8rem; 
}
.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid gray;
    border-radius: 0;
    color: gray;
}
#final
{
    height: 40vh;
    background-color: #2c3e50;
}
.first h5
{
    color:#fff;
}
.first h4
{
    font-weight: bolder;
    font-size: 28px;
    color:#fff;
}
.second h4 
{
    font-weight: bolder;
    font-size: 28px;
    color:#fff;

}

.about-icon
{
    font-size: 20px;
    padding: 15px;
    border-width: 2px;
    border-color: #fff;
    transition: all 0.5s;
}
.about-icon:hover
{
    color: black !important;
    background-color:#fff;
}
.third h4 
{
    font-weight: bolder;
    font-size: 28px;
    color:#fff;
}

footer
{
    height: 10vh;
    background-color: #212529;
}